<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.ui.editors"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.ui.internal.editors.text.EditorsPlugin">

   <runtime>
      <library name="editors.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.ui.texteditor,org.eclipse.ui.editors.text,org.eclipse.ui.internal,org.eclipse.ui.editors.quickdiff"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>


   <extension-point id="documentProviders" name="%ExtPoint.documentProviders" schema="schema/documentProviders.exsd"/>
   <extension-point id="markerUpdaters" name="%ExtPoint.markerUpdaters" schema="schema/markerUpdaters.exsd"/>
   <extension-point id="markerAnnotationSpecification" name="%ExtPoint.markerAnnotationSpecification" schema="schema/markerAnnotationSpecification.exsd"/>
   <extension-point id="quickdiffreferenceprovider" name="%ExtPoint.referenceProvider" schema="schema/quickdiff.referenceprovider.exsd"/>

   <extension
          point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
      		annotationType="org.eclipse.ui.workbench.texteditor.error"
            label="%problems.label"
            markerType="org.eclipse.core.resources.problemmarker"
            markerSeverity="2"
            textPreferenceKey="errorIndication"
            textPreferenceValue="true"
            overviewRulerPreferenceKey="errorIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            colorPreferenceKey="errorIndicationColor"
            colorPreferenceValue="255,0,128"
            presentationLayer="6"
            contributesToHeader="true">
      </specification>
      <specification
      		annotationType="org.eclipse.ui.workbench.texteditor.warning"
            label="%warnings.label"
            markerType="org.eclipse.core.resources.problemmarker"
            markerSeverity="1"
            textPreferenceKey="warningIndication"
            textPreferenceValue="true"
            overviewRulerPreferenceKey="warningIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            colorPreferenceKey="warningIndicationColor"
            colorPreferenceValue="244,200,45"
            presentationLayer="5"
            contributesToHeader="true">
      </specification>
      <specification
      		annotationType="org.eclipse.ui.workbench.texteditor.info"
            label="%infos.label"
            markerType="org.eclipse.core.resources.problemmarker"
            textPreferenceKey="infoIndication"
            textPreferenceValue="false"
            overviewRulerPreferenceKey="infoIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            colorPreferenceKey="infoIndicationColor"
            colorPreferenceValue="244,200,45"
            presentationLayer="4"
            contributesToHeader="false">
      </specification>
      <specification
      		annotationType="org.eclipse.ui.workbench.texteditor.task"
            label="%tasks.label"
            markerType="org.eclipse.core.resources.taskmarker"
            textPreferenceKey="taskIndication"
            textPreferenceValue="false"
            overviewRulerPreferenceKey="taskIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            colorPreferenceKey="taskIndicationColor"
            colorPreferenceValue="0,128,255"
            presentationLayer="2"
            contributesToHeader="false">
      </specification>
      <specification
      		annotationType="org.eclipse.ui.workbench.texteditor.bookmark"
            label="%bookmarks.label"
            markerType="org.eclipse.core.resources.bookmark"
            textPreferenceKey="bookmarkIndication"
            textPreferenceValue="false"
            overviewRulerPreferenceKey="bookmarkIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            colorPreferenceKey="bookmarkIndicationColor"
            colorPreferenceValue="34,164,99"
            presentationLayer="1"
            contributesToHeader="false">
      </specification>
   </extension>



<!-- add the quick diff context menu -->
   <extension
         point="org.eclipse.ui.popupMenus">
<!-- default -->
      <viewerContribution
            targetID="#RulerContext"
            id="QuickDiffTest.DefaultEditorContribution">
         <action
               label="%quickdiff.toggle.enable"
               style="push"
               helpContextId="quickdiff.toggle"
               class="org.eclipse.ui.internal.editors.quickdiff.QuickDiffToggleAction"
               menubarPath="quickdiff"
               id="quickdiff.toggle">
         </action>
      </viewerContribution>
<!-- text editor -->
      <viewerContribution
            targetID="#TextRulerContext"
            id="QuickDiffTest.TextEditorContribution">
         <action
               label="%quickdiff.toggle.enable"
               style="push"
               helpContextId="quickdiff.toggle"
               class="org.eclipse.ui.internal.editors.quickdiff.QuickDiffToggleAction"
               menubarPath="quickdiff"
               id="quickdiff.toggle">
         </action>
      </viewerContribution>
   </extension>
   
<!-- add the standard reference provider -->
   <extension
         point="org.eclipse.ui.editors.quickdiffreferenceprovider">
      <referenceprovider
            label="%lastSaveReferenceProvider.label"
            default="true"
            class="org.eclipse.ui.internal.editors.quickdiff.providers.LastSaveReferenceProvider"
            id="org.eclipse.ui.internal.editors.quickdiff.providers.LastSaveReferenceProvider">
      </referenceprovider>
   </extension>

<!-- add the toggle action a second time in order to make it available as shortcut to keybinings -->
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.ui.DefaultTextEditor"
            id="org.eclipse.quickdiff.editoractions.texteditor">
         <action
               definitionId="org.eclipse.quickdiff.toggle"
               label="%quickdiff.toggle.enable"
               class="org.eclipse.ui.internal.editors.quickdiff.QuickDiffToggleAction"
               id="org.eclipse.quickdiff.QuickDiffToggleAction">
         </action>
      </editorContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%PreferencePages.TextEditor"
            category="org.eclipse.ui.preferencePages.Editors"
            class="org.eclipse.ui.internal.editors.text.TextEditorPreferencePage2"
            id="org.eclipse.ui.preferencePages.TextEditor">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%Editors.DefaultTextEditor"
            icon="icons/full/obj16/file_obj.gif"
            extensions="txt"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            class="org.eclipse.ui.editors.text.TextEditor"
            id="org.eclipse.ui.DefaultTextEditor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.ui.editors.text.FileDocumentProvider"
            inputTypes="org.eclipse.ui.IStorageEditorInput"
            id="org.eclipse.ui.editors.text.FileDocumentProvider">
      </provider>
   </extension>
   
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.ui.DefaultTextEditor"
            id="org.eclipse.ui.texteditor.ruler.actions">
         <action
               label="%Dummy.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               actionID="RulerDoubleClick"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction">
         </action>
         <action
               label="%Dummy.label"
               class="org.eclipse.ui.texteditor.SelectRulerAction"
               actionID="RulerClick"
               id="org.eclipse.ui.texteditor.SelectRulerAction">
         </action>
      </editorContribution>
   </extension>
   
	<extension
		point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="#TextRulerContext"
			id="org.eclipse.ui.texteditor.ruler.context.actions">
			<action
				label="%AddTask.label"
				helpContextId="org.eclipse.ui.AddTask_action_context"
				tooltip="%AddTask.tooltip"
				class="org.eclipse.ui.texteditor.TaskRulerAction"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.TaskRulerAction">
			</action>
			<action
				label="%AddBookmark.label"
				helpContextId="org.eclipse.ui.bookmark_action_context"
				tooltip="%AddBookmark.tooltip"
				class="org.eclipse.ui.texteditor.BookmarkRulerAction"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.BookmarkRulerAction">
			</action>
		</viewerContribution>
	</extension>
	
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%command.us_ascii.name"
            description="%command.us_ascii.description"
            category="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.text.encoding.us-ascii">
      </command>
      <command
            name="%command.iso_8859_1.name"
            description="%command.iso_8859_1.description"
            category="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.text.encoding.iso-8859-1">
      </command>
      <command
            name="%command.utf_8.name"
            description="%command.utf_8.description"
            category="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.text.encoding.utf-8">
      </command>
      <command
            name="%command.utf_16be.name"
            description="%command.utf_16be.description"
            category="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.text.encoding.utf-16be">
      </command>
      <command
            name="%command.utf_16le.name"
            description="%command.utf_16le.description"
            category="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.text.encoding.utf-16le">
      </command>
      <command
            name="%command.utf_16.name"
            description="%command.utf_16.description"
            category="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.text.encoding.utf-16">
      </command>
      <command
            name="%command.system.name"
            description="%command.system.description"
            category="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.text.encoding.system">
      </command>
      <command
            name="%command.custom.name"
            description="%command.custom.description"
            category="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.text.encoding.custom">
      </command>
      <command
            name="%ActionDefinition.quickDiff.name"
            description="%ActionDefinition.quickDiff.description"
            category="org.eclipse.ui.category.edit"
            id="org.eclipse.quickdiff.toggle">
      </command>
      <keyBinding
            string="Ctrl+Shift+Q"
            scope="org.eclipse.ui.textEditorScope"
            command="org.eclipse.quickdiff.toggle"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>

</plugin>
